@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

@import 'react-grid-layout/css/styles.css';
@import 'react-resizable/css/styles.css';

#app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.recharts-wrapper {
  font-size: 0.875em;
  color: #666;
}
